  /*
   * General
   */

  body {
      font-family: 'Montserrat', sans-serif;
      background-color: #f7f9fa;
      font-size: .875rem;
      color: #444;
  }

  .feather {
      width: 16px;
      height: 16px;
      vertical-align: text-bottom;
  }

  .signin-headline {
      font-size: 30px;
  }

  .page-headline {
      color: #495057;
      font-size: 20px;
  }

  .card-headline {
      color: #555f78;
      font-size: 16px;
      font-weight: bold;
  }

  .sidebar-headline {
      color: #444;
      font-size: .8rem;
      font-weight: bold;
      margin-left: 20px;
      margin-bottom: 10px;
  }

  .btn .feather-icon {
      width: 20px;
      height: 20px;
      color: #fff;
      stroke-width: 2px;
  }

  a .feather-icon,
  .btn-link .feather-icon {
      width: 20px;
      height: 20px;
      stroke-width: 1px;
      color: #555f78;
  }

  .btn-link .feather-eye:hover {
    color: #086fcf;
}

  .btn-link .feather-edit:hover {
      color: #cfbb08;
  }

  .btn-link .feather-trash:hover,
  .btn-link .feather-slash:hover {
      color: #dc3545;
  }

  .btn-link .feather-circle:hover {
      color: #08be08;
  }

  .btn {
      box-shadow: 3px 3px 8px #ccc;
  }

  .btn-link {
      box-shadow: none;
  }


  /*
  * font sizes
  */

  .font-size-10 {
      font-size: 10px;
  }

  .font-size-12 {
      font-size: 12px;
  }

  .font-size-14 {
      font-size: 14px;
  }

  .font-size-16 {
      font-size: 16px;
  }

  .font-size-18 {
      font-size: 18px;
  }

  .font-size-20 {
      font-size: 20px;
  }

  .font-size-22 {
      font-size: 22px;
  }

  .font-size-24 {
      font-size: 24px;
  }

  .font-size-30 {
      font-size: 30px;
  }


  /*
   * Loading spinner
   */

  #overlay {
      position: fixed;
      top: 0;
      z-index: 9999;
      width: 100%;
      height: 100%;
      display: none;
      background: rgba(0, 0, 0, 0.6);
  }

  .cv-spinner {
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
  }

  .spinner {
      width: 40px;
      height: 40px;
      border: 4px #ddd solid;
      border-top: 4px #2e93e6 solid;
      border-radius: 50%;
      animation: sp-anime 0.8s infinite linear;
  }

  @keyframes sp-anime {
      100% {
          transform: rotate(360deg);
      }
  }

  .is-hide {
      display: none;
  }


  /*
   * Page Not Found 404
   */

  .bg-error-page {
      background-color: #1fc8db;
      background-image: linear-gradient(#1fc8db, #2cb5e8);
  }

  #pageNotFound .feather-icon {
      stroke-width: 1px;
      width: 85px;
      height: 85px;
      color: #fff;
  }


  /*
   * Header Navbar
   */

  header .feather-icon {
      stroke-width: 1px;
      width: 25px;
      height: 25px;
  }



  /*
   * Sidebar
   */

  .sidebar {
      width: 250px;
      position: fixed;
      top: 0;
      bottom: 0;
      left: 0;
      z-index: 1000;
      /* Behind the navbar */
      padding: 60px 0 0;
      /* Height of navbar */
      box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
  }

  .sidebar-sticky {
      position: relative;
      top: 0;
      height: calc(100vh - 48px);
      padding-top: 1rem;
      overflow-x: hidden;
      overflow-y: auto;
      /* Scrollable contents if viewport is shorter than content. */
  }

  @supports ((position: -webkit-sticky) or (position: sticky)) {
      .sidebar-sticky {
          position: -webkit-sticky;
          position: sticky;
      }
  }

  .sidebar .nav-link {
      color: #343a40;
  }

  .sidebar .nav-link .feather {
      margin-right: 4px;
      color: #ccc;
  }

  .sidebar .feather-icon {
      stroke-width: 1px;
      width: 25px;
      height: 25px;
  }

  .sidebar .nav-link:hover,
  .sidebar .nav-link.active {
      background-color: #f6f6f6;
  }

  .sidebar .nav-link.active {
      color: #00aeef;
      font-weight: bold;
  }

  .sidebar .nav-link:hover .feather,
  .sidebar .nav-link.active .feather {
      color: #aaa;
  }



  /*
   * Content
   */

  #main,
  #signinMain {
      height: calc(100vh - 48px);
      margin-top: 48px;
      /* Space for fixed navbar */

  }

  #mainContent {
      height: calc(100vh - 48px);
  }




  /*
   * Cards
   */

  .card {
      box-shadow: 0 0.46875rem 2.1875rem rgba(4, 9, 20, 0.03), 0 0.9375rem 1.40625rem rgba(4, 9, 20, 0.03), 0 0.25rem 0.53125rem rgba(4, 9, 20, 0.05), 0 0.125rem 0.1875rem rgba(4, 9, 20, 0.03);
  }





  /* DESKTOP ONLY */


  @media (min-width: 992px) {


      /*
   * Header Navbar
   */

      header .feather-icon {
          stroke-width: 1px;
          width: 15px;
          height: 15px;
      }



      /*
   * Content
   */

      #main {
          margin-left: 250px;
          /* Space for sidebar */
      }

      .invisible-lg {
          visibility: hidden;
      }

  }
